<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="Base.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/PROJECTS JAV/Californication/CalifornicationSauceProject">
        <classes>
            <class name="TestE2E.BuyBackPackTest">
                <methods>
                    <include name="buyBackPack"/>
                    <include name="buyBackPack2"/>
                </methods>
            </class>
            <class name="Test.AllGoodsPageTest">
                <methods>
                    <include name="bikeLightHeaderTextTest"/>
                    <include name="backPackHeaderTextTest"/>
                    <include name="boltTshirtHeaderTextTest"/>
                    <include name="fleeceJacketHeaderTextTest"/>
                    <include name="whiteShirtHeaderTextTest"/>
                    <include name="hoodyHeaderTextTest"/>
                </methods>
            </class>
            <class name="Test.EveryGoodTest">
                <methods>
                    <include name="bikeLightPageTextTest"/>
                    <include name="backPackPageTextTest"/>
                    <include name="boltShirtPageTextTest"/>
                    <include name="fleeceJacketPageTextTest"/>
                    <include name="whiteShirtPageTextTest"/>
                    <include name="hoodyPageTextTest"/>
                </methods>
            </class>
            <class name="Test.LoginPageTest">
                <methods>
                    <include name="enterTest"/>
                    <include name="enter2Test"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>